.card__coding {
	display: flex;
	flex-direction: column;
	border: solid black 1px;
	width: 320px;
	justify-content: center;
	align-items: center;
	background-color: rgb(41, 41, 41);
	border-radius: 15px;
}
