.body {
	$header-white: #a1a1a1;
	// $header-dark: #7b7b7b;
	$header-link: #353535;
	$back-groundcolor: #fff;
}
.body-dark {
	$header-white: #7b7b7b;
	// $header-dark: #7b7b7b;
	$header-link: #353535;

	$back-groundcolor: #424242;
}
